.front-body{
    display: flex;
    flex-direction: column;
}

.front-title{
    display: flex;
    justify-content: center;
}

.front-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.padding-col{
    padding: 25px;
}

@media (max-width: 570px) {
    .front-body{
        flex-direction: column;
    }
}

.font-col{
    display: flex;
    flex-direction: column;
}

.front-col-text{
    display: inline-block;
    overflow: break-word;
    inline-size: 372px;
}