.styled-input {
    width: 70px; /* Set the desired width */
    padding: 2px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 26px; /* Set the font size */
    color: #111; /* Set the font color */
  }
  
  .styled-input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color when focused */
    box-shadow: 0 0 5px #007bff; /* Add a box shadow when focused */
  }

  .input-width {
    width: 170px;
  }