.card-stack {
    display: flex;
    justify-content: center;
    padding-left: 16.5rem;
    margin: 1rem;
}

.up-cards{
    display: flex;
    justify-content: center;
}

.down-card{
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    margin-bottom: -5rem;
}

.dcard {
    margin-left: -16.5rem;
    margin-top: -5rem;
    margin-bottom: -5rem;
    display: flex;
}