.pcard-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    margin: 0;
}

.pup-cards {
    display: flex;
    justify-content: center;
}

.pcard-label{
    position: relative;
    right: 3.7rem;
    bottom: 1.2rem;
    font-size: 2rem;
}

.split-cards {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: -3rem;
}

.pcard {
    margin-left: -14rem;
    margin-top: -5rem;
    margin-bottom: -5rem;
    display: flex;
    flex-direction: column;
}