.table-cloth{
    background-color: purple;
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 1;
}

.card-cont{
    background-color: brown;
    display: flex;
}

.dealer-area{
    position: relative;
    right: 60%
}

.area-1{
    grid-row: 1/1;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.area-2{
    grid-row: 3/4;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 36, 34);
}

.area-3{
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: rgb(30, 36, 34);
}

.area-4{
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: rgb(30, 36, 34);
}

.area-5{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: rgb(30, 36, 34);
}
